# Données locales / artefacts
donnees/
*.sqlite
*.sqlite-wal
*.parquet
*.csv

# Environnements / caches
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Outils / IDE
.vscode/
.idea/
*.swp
.DS_Store

# Docker
*.local.yml
# Autoriser le placeholder du dossier donnees
!donnees/.gitkeep
